<!-- ============  TIMELINE ================= --> 
<div class="timeline-wrap">
  <div class="timeline-bg">
    <%=render "static_pages/home/content/time_line/profile_infos" %>
    <%=render "static_pages/home/content/time_line/education" %>
    <%=render "static_pages/home/content/time_line/work_experience" %>
    <%=render "static_pages/home/content/time_line/skils" %>
    <%=render "static_pages/home/content/time_line/interests" %>
    <!-- render "static_pages/home/content/time_line/portfolio -->
    <%=render "static_pages/home/content/time_line/contact" %>
    <%=render "static_pages/home/content/time_line/thank_you" %>
  </div>
</div>
<!-- =======  /TIMELINE ================= -->